.Chat-Messaggio2{
    width: 100%;
    display: inline-flex;
}

.cloud-messaggio2{
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  
}

.speech-bubble2{
    background-color: #B080E8;
    border: 1px solid #c8c8c8;
    border-radius: 22px;
    text-align: inherit;
    text-overflow: ellipsis;
    overflow: auto;
    max-width: 70%;
    box-shadow: 0px 3px 6px #00000016;
}
.Cloud-Text2{
    margin:1px;
    text-align: left;
}

.Chat-Messaggio3{
width: 100%;
display: inline-flex;
}

.cloud-messaggio3{
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 10px;
padding-right: 10px;

}
.speech-bubble3{
    border: 1px solid #c8c8c8;
    border-radius: 22px;
    text-align: inherit;
    box-shadow: 0px 3px 6px #00000016;
    text-overflow: ellipsis;
    overflow: auto;
    max-width:70%; 
    margin-left: auto;       
}
.Cloud-Text3{
    margin:0px 0px 0px 0px;
    text-align: left;
}
.time-left {
    color: #999;
    padding-left: 10px;
  }
  .time-left2 {
    float: left;
    color: #999;
    padding-left: 20px;
  }
.time-right {
    color: #999;
    padding-right: 20px;
    float: right;
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  .Lista{
    display: flex;
    flex-direction: column-reverse;
background-color: white;
}