.header h2{

    margin-left: 20px;
}
.background-one {
    background-color: blue;
    }
.header {
    /*DIMENSIONI----------------------*/
    width: 100%;
    height: 70px;

    /*FONT*/
    color: var(--white);
    font-family: var(--bold);
    
    /*FLEX*/

    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-content: space-between;
}
/*-----------------------------------------MEDIA QUERY------------*/

@media(min-width: 900px) {

    .header {
        height: 90px;
    }
    .header .icons{
        height: 90px;
        width: 90px;
        
    }

}
