:root {
    --white: #ffffff;
    --grey: #999999;

    --uno:#382255;
    --due: #5E437D;
    --tre: #9773B5;
    --quattro: #C39BE1;
}

.background-two {
    background: linear-gradient(45deg,#5E437D,#9773B5)
    }

.button {
    width: 200px;
    height: 50px;
    border-radius: 40px;
    margin: 20px;
    border: 0px;


    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);

}

.button h3{
    font-size: 20px;
    line-height: 15px;
}


    @media(min-width: 900px) {

        .button{
            border: 0px;
            height: 60px;
            width: 210px;
         }
    }