.message{
    font-family: 'Gill Sans SemiBold';
    height: 70px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.message h2 {
    color: #5E437D;
    font-size: 20pt;
    margin: 5px 0px 0px 0px;
    font-weight: 600;
}

.message h3 {
    color: #999999;
    font-size: 16pt;
    font-weight: 400;
    margin: 0px 0px 0px 15px;
}
