.message{
    font-family: 'Gill Sans';
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1px;
    padding-right: 50px;
}
.message h2 {
    color: #9773B5;
    font-size: 16pt;
    margin: 5px 0px 0px 0px;
    font-weight: 600;
}

.message h3 {
    color: #999999;
    font-size: 12pt;
    font-weight: 600;
    margin: 10px 0px 0px 15px;
}
.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }