.imageProfileDisplay{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageProfile{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    z-index: 0;
}

.iconFavorite{
    width: inherit;
    height: inherit;
    position: absolute;
    z-index: 1;
}