*{
    font-family: 'Gill Sans' 
}

:root {
    --white: #ffffff;
    --grey: #999999;

    --uno:#382255;
    --due: #5E437D;
    --tre: #9773B5;
    --quattro: #C39BE1;

    --regular: 'Gill Sans Regular';
    --semibold: 'Gill Sans SemiBold';
    --bold: 'Gill Sans Bold';
    
}


.textSettings{
    color:var(--tre);
    font-weight: 700;
    font-size:16pt;
}

.textRegularGrey{
    color:var(--grey);
    font-weight: 400;
    font-size:16pt;
}
.textSemiBoldGrey{
    color:var(--grey);
    font-weight: 600;
    font-size:16pt;
}
.textChatName{
    color:var(--white);
    font-weight: 600;
    font-size:18pt;
    margin: 0px;
}
.textRegularWhite{
    color:var(--white);
    font-weight: 400;
    font-size:16pt;
    margin: 0px;
}